on:
    push:
        branches:
            - master

env:
    GAMERARENA_WIDGETBOT_IMAGE: gamerarena-widgetbot

jobs:
    buildAndDeploy:
        name: Build and deploy
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Log into registry
                run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

            -   if: github.ref == 'refs/heads/master'
                name: Build docker image
                run: docker build --tag $GAMERARENA_WIDGETBOT_IMAGE .

            -   name: Push image
                run: |
                    IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$GAMERARENA_WIDGETBOT_IMAGE
                    # Change all uppercase to lowercase
                    IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
                    # Strip git ref prefix from version
                    VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
                    # Strip "v" prefix from tag name
                    [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
                    # Use Docker `latest` tag convention
                    [ "$VERSION" == "master" ] && VERSION=latest
                    echo IMAGE_ID=$IMAGE_ID
                    echo VERSION=$VERSION
                    docker tag $GAMERARENA_WIDGETBOT_IMAGE $IMAGE_ID:$VERSION
                    docker push $IMAGE_ID:$VERSION

            -   name: Slack notification
                uses: 8398a7/action-slack@v3
                if: ${{ always() }}
                with:
                    author_name: ${{ github.actor }}
                    status: ${{ job.status }}
                    fields: repo,ref,job,message,took,action
                    job_name: Build and deploy
                env:
                    SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
